* {
    box-sizing: border-box;
}

body {
    background-color: #181a1b;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06);
    width: 200px;
    height: 200px;
}

.chat-display-container {
    width: 75vw;
    border-radius: 5px;
    background-attachment: whitesmoke;
    height: 300px;
    overflow-y: scroll;
}

/* .profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
} */

/* Responsive Styling */

/* @media screen and (max-width: 40rem) .profile-image img {
    width: 7.7rem;
} */
